<div class="home-banner">
  <h1>Restaurantes</h1>
  <p>
    <span id="banner-typed-text"></span>
  </p>
  <%= link_to "Ver Restaurantes", restaurants_path, class: "btn btn-primary" %>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <%= "Lorem ipsum dolor sit amet, consectetur adipisicing elit " * 100 %>
    </div>
  </div>
</div>


<%= cl_image_tag("http://res.cloudinary.com/northern-360/image/upload/v1624630536/csi51mlyhb7msveswmzd.jpg",
      width: 400, height: 300, crop: :fill) %>

<%= cl_image_tag("http://res.cloudinary.com/northern-360/image/upload/v1624630564/wxoxdefbggekqlbkirim.jpg",
      width: 150, height: 150, crop: :thumb, gravity: :face) %>